

.video-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
}
.video-title h1 {
  font-size: 6em;
  margin: 0;
}

.video-title h2 {
  font-size: 3em;
  margin: 0;
}

.down-arrow {
    height: 10vh;
    flex: end;
    fill: #fff !important; position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-15px);
  }
  60% {
    transform: translateX(-50%) translateY(-7px);
  }
}

.about-me-section {
  display: flex;
  padding-top:5vh;
}

.about-me-text , .contact-text{
    padding: 100px;
    max-width: 600px;
    font-size: x-large;
}

.services-section{
  padding:0px 100px;
  font-size: x-large;
}

.table-services{
  display: flex;
  width: 100%;
  justify-content: center;
}

.table-services table{
  border-collapse: collapse;
}

tr{
  display: table-row;
  border-top:solid 1px #838383;
  border-bottom:solid 1px #838383;
  
}

td{
  padding:0px 50px;
}

td:first-child {
  font-weight: bold;
  padding-right: 20px;
  white-space: nowrap;
}

td:last-child {
  padding-left: 20px;
  font-size:smaller;
}

.logo-wall-section img{
  height:200px;
}

.logo-wall-section tr{
  border:none;
  display: flex;
  justify-content: center;
}

.logo-wall-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px 0px;
}

.logo-wall-section svg{
  fill:#fff;
}

.contact-section{
  display: flex;
}

.contact-text p{
  margin:5vh 0px;
}

.contact-text p:nth-child(4){
  margin-top:15vh;
}

.contact-section a{
  color: inherit;
  text-decoration: none;
}

.contact-section a:hover{
  text-decoration: underline;
}

.contact-text img{
  height: 20px;
  margin-right: 15px;
  vertical-align: middle;
}

.contact-img{
  display: flex
  ;
}