.navbar-projects {
    height: 5vh;
    width: 100%;
}

#categories{
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.category-card{
  color:inherit;
  padding:5px;
  border-radius: 5px;
  background-color: #ffffff00;
  transition: all 0.3s ease;
  
}

.category-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card h2{
  margin:0px;
}

.category-active{
  color: var(--textInverted);
  border: 2px solid var(--tabsBackground);
  box-shadow: 0 0 10px var(--tabsBackground);
  background-color: var(--tabsBackground);
  transform: scale(1.05);
  transition: all 1s ease;
}

/*----------------------tabs--------------------------*/

.tabs-wrapper {
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 500px; 
}

.tab-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.tab-container.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.tab-container.left {
  transform: translateX(-100%);
}

.tab-container.right {
  transform: translateX(100%);
}

.tab-info{
  color:#FFF;
  height: 30vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

.tab-info h2{
  font-size: 3em;
  margin: 0;
  padding-top: 5vh;
}

.tab-info h3{
  font-size: 2em;
  margin: 0;
  padding-top: 1vh;
}

/*---------------------Items----------------------*/

.preview-item {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  max-height: 700px;
  overflow: hidden;
}

.item-card{
  position: relative;
}

.item-card:nth-child(even) .preview-item .video-container{
  right: 3%;
  transition: transform 0.5s ease;

}

.item-card:nth-child(odd) .preview-item .preview-text{
  left: 50%;
}

.item-card:nth-child(even) .preview-item .preview-text{
  left: 10%;
}

.item-card:nth-child(odd) .preview-item .video-container{
  left: 3%;
  transition: transform 0.5s ease;
}

.video-container{
  border-radius: 20px;
  position: absolute;
  top: 6%;
  width:45%;
  height: 70%;
}

.preview-text{
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 6%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
}

.preview-item .video-container video{
  border-radius: 20px;
  width: auto;
  height: 100%;
  transition: transform 0.5s ease;
}

.preview-item:hover .video-container video{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.preview-text h2{
  color:black;
  margin: 0;
}

.preview-text h3{
  color: #626262;
}

.preview-text p{
  background-color: #3938388e;
  max-width: 30vw;
  padding: 10px;
  border-radius: 10px;
}

.slide-item{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  max-height: 700px;
  overflow: hidden;
}

.slide-item img{
  width:100%;
  height:100%;
}

.video-slide video{
  width: 100%;
  display: block;
}


.carrousel img {
  height: 80%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  aspect-ratio: 3 / 7;
}

.carrousel{
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

.image-slide.center{
  display: flex;
  align-items: center;
}

.image-slide.left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-slide.left p{
  margin-left:5vw;
}

.image-slide.right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image-slide.right p{
  margin-right:5vw;
}

.image-slide p{
  position: absolute;
  background-color: #3938388e;
  padding: 10px;
  border-radius: 10px;
  font-size: x-large;
  color: #FFF;
  max-width: 30%;
}

.slides-container{
  /* display: none; */
  max-height: 0px;
}

.slides-container.active-slide{
  /* display: block; */
  max-height: 10000000000px;
  transition: all 1s ease;
}

.item-card.disabled .filter{
  display: flex;
  height: 100%;
  position: absolute;
}

.carrousel-background{
  position: absolute;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  margin: 0;
}

.preview-item img{
    width: 100%;
    height: 100%;
}

.video-slide{
  max-height: fit-content;
}