.navbar-projects {
    height: 5vh;
    width: 100%;
}

#categories{
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.category-card{
  color:inherit;
  padding:5px;
  border-radius: 5px;
  background-color: #ffffff00;
  transition: all 0.3s ease;
  
}

.category-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card h2{
  margin:0px;
}

.category-active{
  color: rgb(54, 54, 54);
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  background-color: aliceblue;
  transform: scale(1.05);
  transition: all 1s ease;
}

/*----------------------tabs--------------------------*/

.tab-container{
    width: 100%;
}

.tab-info{
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

/*---------------------Items----------------------*/

.preview-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.item-card:nth-child(even) .preview-item video{
    right: 3%;
    transition: transform 0.5s ease;
}

.item-card:nth-child(odd) .preview-item video{
    left: 3%;
    transition: transform 0.5s ease;
}

.preview-item video{
    border-radius: 20px;
    position: absolute;
    top: 6%;
    width: auto;
    height: 30%;
    transition: transform 0.5s ease;
}

.preview-item:hover video{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.preview-item div{
    position: absolute;
    z-index: 1;
    top: 6%;
    left: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



