.navbar-projects {
    height: 5vh;
    width: 100%;
}

#categories{
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.category-card{
  color:inherit;
  padding:5px;
  border-radius: 5px;
  background-color: #ffffff00;
  transition: all 0.3s ease;
  
}

.category-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card h2{
  margin:0px;
}

.category-active{
  color: rgb(54, 54, 54);
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  background-color: aliceblue;
  transform: scale(1.05);
  transition: all 1s ease;
}

/*----------------------tabs--------------------------*/

.tabs-wrapper {
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 500px; 
}

.tab-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.tab-container.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.tab-container.left {
  transform: translateX(-100%);
}

.tab-container.right {
  transform: translateX(100%);
}

.tab-info{
  color:#FFF;
  height: 30vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

.tab-info h2{
  font-size: 3em;
  margin: 0;
  padding-top: 5vh;
}

.tab-info h3{
  font-size: 2em;
  margin: 0;
  padding-top: 1vh;
}

/*---------------------Items----------------------*/

.preview-item {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.item-card:nth-child(even) .preview-item .video-container{
  right: 3%;
  transition: transform 0.5s ease;

}

.item-card:nth-child(odd) .preview-item .preview-text{
  left: 50%;
}

.item-card:nth-child(even) .preview-item .preview-text{
  left: 10%;
}

.item-card:nth-child(odd) .preview-item .video-container{
  left: 3%;
  transition: transform 0.5s ease;
}

.video-container{
  border-radius: 20px;
  position: absolute;
  top: 6%;
  width: auto;
  height: 70%;
}

.preview-text{
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 6%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
}

.preview-item .video-container video{
  border-radius: 20px;
  width: auto;
  height: 100%;
  transition: transform 0.5s ease;
}

.preview-item .video-container video:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.preview-text h2{
  color:black;
  margin: 0;
}

.preview-text h3{
  color: #626262;
}

.preview-text p{
  background-color: #3938388e;
  padding: 10px;
  border-radius: 10px;
}

.slide-item{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.video-slide video{
  width: 100%;
  display: block;
}


.carrousel img {
  height: 80%;
}

.carrousel{
  display: flex;
  gap: 10vw;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
}

.image-slide.center{
  display: flex;
  align-items: center;
}

.image-slide.left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-slide.left p{
  margin-left:5vw;
}

.image-slide.right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image-slide right p{
  margin-right:5vw;
}

.image-slide p{
  position: absolute;
  background-color: #3938388e;
  padding: 10px;
  border-radius: 10px;
  font-size: x-large;
  color: #FFF;
}

.slides-container{
  display: none;
  /* max-height: 0px;
  transition: all 0.5s ease; */
}

.slides-container.active-slide{
  display: block;
  /* max-height: 10000000000px;
  transition: all 1s ease; */
}