.container{
    display: flex;
    height: 100vh;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter-background);
    padding:10px;
    border-radius: 10px;
    gap:5px;
}

.login-container form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

form input{
    width: 97%;
    min-width: 15vw;
    font-size: large;
    background-color: var(--background);
    color: var(--text);
    border: none;
    padding: 5px;
}

a{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: var(--textHover);
}

.forgot-password-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: var(--lighter-background);
    padding:20px;
    border-radius: 10px;
    min-width: 20vw;
}

.forgot-password-container form div{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}