.admin_container{
    margin-top:20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    width: -webkit-fill-available;
    gap: 0px;
    display: flex;
    justify-content: center;
}

.projects{
    width: 90%;
    background-color: var(--lighter-background);
    border-radius: 10px;
    padding: 20px;
    margin: 10vh 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.project:hover{
    scale: 1.04;
    transition: all ease 0.5s;
    cursor: pointer;
    background-color: var(--lighter-background-hover);

}

tbody{
    width: 90%;
}

tr{
    width: 100%;
    display: flex;
    background-color: var(--background);
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    border: none;
    transition: all ease 0.5s;
    justify-content: space-between;
    font-size: large;
}

td{
    width: 25%;
    display: flex;
    gap: 0px;
    border: none;
    padding: 20px 10px !important;

}

td span{
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: large;
}

td .archived{
    background-color: red;
}

td .online{
    background-color: green;
}

.stats{
    display: flex;
    background-color: var(--lighter-background);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}

.graph{
    width: 100%;
    height: 400px;
}

.projects_container{
    display: flex;
    flex-direction: row;

}

.preview{
    position: relative;
}

.projects_container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.projects_list {
  flex: 1;
  min-width: 400px;
}

.preview {
  flex: 0 0 40%;
  max-width:30%;
  height: fit-content;
  overflow-y: auto;
  border-radius: 15px;
  background-color: var(--background);
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* ---------- PREVIEW ITEM ---------- */
.item-edit .preview-item {
  display: flex;
  flex-direction: column; /* en colonne par défaut pour mobile */
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
  overflow: hidden;
  border-radius: 20px;
}

.item-edit .preview-item img,
.item-edit .preview-item video {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.item-edit .preview-text {
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.item-edit .preview-text h2,
.item-edit .preview-text h3 {
  margin: 0.2rem 0;
}

.item-edit .preview-text p {
  background-color: #3938388e;
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  margin: 0 auto;
}

/* Desktop layout */
@media (min-width: 992px) {
  .item-edit .preview-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

   .item-edit .preview-text {
    scale: 0.5;
    left: 20% !important;
    text-align: left;
    
  }
/*
  .preview-item img,
  .preview-item video {
    width: 50%;
    height: auto;
  }*/
} 

/* ---------- SLIDES CONTAINER ---------- */
.item-edit .slides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.item-edit .slide-item {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.item-edit .video-slide video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.item-edit .image-slide img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.item-edit .image-slide.left{
  align-items: flex-start;
}

.item-edit .image-slide.right{
  align-items: flex-end;
}

.item-edit .image-slide p {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  max-width: 50%;
  margin: auto 12px ;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center; 
  top:20%;
}

.item-edit .carrousel-slide{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.item-edit .carrousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* ratio 16:9 adaptable */
  box-sizing: border-box;
}

.item-edit .carrousel img,
.item-edit .carrousel video {
  flex: 0 0 auto;
  max-height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: center;
  max-width: fit-content;
  overflow: hidden;
  aspect-ratio: 3 / 5;
  height: 100%;
  z-index: 0;
}

.editor{
  display: none;
}

.editor.active{
  display: block;
}

.item-edit .carrousel::-webkit-scrollbar {
  display: none;
}

.item-edit .preview-text{
  top:auto;
}

.slide-editor-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.slide-editor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
  background-color: var(--lighter-background);
  padding: 2%;
  margin:10px 0px;
  border-radius: 10px;
  width: 96%;
}

.slide-editor input,.slide-editor textarea,.slide-editor select{
  border-radius: 5px;
  padding: 10px;
  width: 29.3%;
  border: none;
    background-color: var(--background);
    color: var(--text);
}

.slide-editor input[type="file"]{
  color: #555;
  font-size: 14px;
  font-style: italic;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slides-edit{
  display: flex;
  width: 100%;
}
.drag-handle{
  cursor: grab;
  font-size: 1.5rem;
  padding: 0 10px;
}

.editor video,.editor img{
  max-width:30%;
}

.slide-editor .logo{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slides-edit input ,
.slides-edit textarea{
  height: 15px;
}

input[type="file"]{
  display: none;
}

.media{
  display:flex;
  flex-direction:row;
  gap: 20px;
  padding:20px;
}

.media button{
  height: 45px;
  width: 250px;
}

.media img, .media video{
  padding:0;
  border-radius:10px;
  width: 100%;
  max-width: 70%;
}

.carroussel-image-editor{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex:1;
  max-width:30%;
}

.carroussel-image-editor img, .carroussel-image-editor video{
  object-fit: cover;
  object-position: center;
  max-width: fit-content;
  overflow: hidden;
  aspect-ratio: 3 / 5;
  width: 100%;

}

.carroussel-images-editor{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}
.delete-slide{
  cursor: pointer;
  transition: all ease 0.3s;
}

.delete-slide:hover{
  scale: 1.2;
  transition: all ease 0.3s;
}

.delete-image {
  top: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.delete-image:hover{
  color: var(--lighter-background-hover);
  scale: 1.2;
  transition: all ease 0.3s;
}

.carroussel-image-container{
  position: relative;
  flex:1;
  overflow: hidden;
}

.form-data{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-data input, .form-data textarea, .form-data select{
  width: 90%;
  max-width: 300px;
}

.form-data label{
  font-size: 1em;
}

.form-data.categories label{
  display: flex;
  justify-content: space-between;
}

.form-data.categories label p{
  margin:0;
}

.form-data.categories label span{
  cursor: pointer;
  transition: all ease 0.3s;
}

.form-data.categories label span:hover{
  transform: scale(1.5);
  transition: all ease 0.3s;
}

/* Container */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

/* Cache la checkbox native */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #444;
  transition: 0.25s;
  border-radius: 24px;
}

/* Cercle */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.25s;
  border-radius: 50%;
}

/* Checked */
.switch input:checked + .slider {
  background-color: #4ade80; /* vert doux */
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* Focus (accessibilité) */
.switch input:focus + .slider {
  box-shadow: 0 0 0 3px rgba(74, 222, 128, 0.4);
}

/* Disabled */
.switch input:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.slide-editor-container>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-buttons{
  display:flex;
  justify-content: space-between;
}

.saving-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 16px;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(255,255,255,.2);
  border-top-color: white;
  border-radius: 50%;
  animation: spin .8s linear infinite;
  margin-bottom: 12px;
}

/* Icons */
.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: pop .4s ease-out;
}

.icon.success {
  background: #2ecc71;
}

.icon.error {
  background: #e74c3c;
}

/* Animations */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-backdrop{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(19, 19, 19, 0.77);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal-content{
  background-color: var(--lighter-background);
  border-radius: 10px;
  padding:20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal-content input{
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

#logout-icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all ease 0.3s;
  fill:#FFF
}

#logout-icon:hover{
  scale: 1.2;
  transition: all ease 0.3s;
}

.logo-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.logo-item img{
  height: 150px;
  border-radius: 10px;
}

.logo-item button{
 max-width: 150px;
} 

.logo-wall-edit{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}




@media (max-width: 768px) {
  .graph{
    aspect-ratio: 6/2;
    height: auto;
  }

  h1{
    font-size: medium;
  }

  table{
    max-width: 87%;
  }

  td {
    font-size: small;
    width: auto;
  }

  td span{
    font-size: xx-small;
  }

  .slide-editor{
    flex-direction: column;
  }

  .form-data label, .form-data textarea, .form-data select{
    font-size: small;
  }

  .media button{
    font-size: small;
    padding: 0;
  }

  .media{
    padding:10px;
  }

  button{
    font-size: x-small;
    
  }

  .projects_container{
    flex-direction: column;
  }

  .preview{
    max-width: 100%;
    height: auto;
  }

  .preview-item .preview-text{
    font-size: x-small;
    width: auto;
  }

  .logo-item img{
    height: 50px;
  }
}