.admin_container{
    margin-top:20vh;
    width: 100%;
}

table{
    width: -webkit-fill-available;
    gap: 0px;
    display: flex;
    justify-content: center;
}

.projects_list{
    padding: 0px 2vw;
}

tbody{
    width: 90%;
}

tr{
    width: 100%;
    display: flex;
    background-color: var(--lighter-background);
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    border: none;
    transition: all ease 0.5s;
    justify-content: space-between;
    font-size: large;
}

tr:hover{
    scale: 1.04;
    transition: all ease 0.5s;
    cursor: pointer;
    background-color: var(--lighter-background-hover);
}

td{
    width: 25%;
    display: flex;
    gap: 0px;
    border: none;
}

td span{
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: large;
}

td .archived{
    background-color: red;
}

td .online{
    background-color: green;
}

.stats{
    display: flex;
    background-color: var(--lighter-background);
    width: 90%;
    margin: 0px 5%;
    padding: 20px;
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.graph{
    width: 95%;
    height: 300px;
}
