#navbar-container{
    margin-top: 5vh;;
    display: flex;
    width: 90vw;
    height: 8vh;
    border-radius: 15px;
    justify-content: space-between;

    background-color: black;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);

    /*liquid glass*/
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    /*Transition au scroll*/
    transition: background 0.4s ease, backdrop-filter 0.4s ease;
}

#navbar-container::before {
    content: '';
    position: absolute;
    border-radius: 15px;
    inset: 0;
    background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0.05));
    z-index: -1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#logo-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2vh;
}

#logo{
    font-size: 5vh;
}

#tabs-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2%;
    width: 50%;
    font-size: 3.5vh;
}

.tab{
    cursor: pointer;
    color: #E6E5E5;
    transition: all 0.8s ease;
}

.tab:hover{
    color: grey;
    font-weight: 20px;
    transition: all 0.5s ease;
}

.active{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
} 

#contact{
    padding:3px 15px;
    background-color: #FFF;
    color:#1F1F1F;
    border-radius: 30px;
    transition: all 0.5s ease;
}

#contact:hover{
    font-size: 3.8vh;
    background-color: #1F1F1F;
    color:#FFF;
    transition: all 0.5s ease;
}

