
body.light{
  --text:#2f2f2f;
  --textHover:#8c8c8c;
  --textInverted:#FFF;
  --background:rgb(226, 226, 226);
  --backgroundInveterd:#2f2f2f;
  --tabsBackground:#252525;
  --lighter-background:#f5f5f5;
  --lighter-background-hover:#ffffff;
}

body.dark{
  --background:#242424;
  --border: grey;
  --text:#FFF;
  --textHover:#dbdbdb;
  --textInverted:#2f2f2f;
  --tabsBackground:#f0f8ff;
  --backgroundInveterd:#FFF;
  --lighter-background:#2f2f2f;
  --lighter-background-hover:#3a3a3a;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  width: -webkit-fill-available;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*------------------modal contact------------------*/

.filter{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(19, 19, 19, 0.77);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.filter textarea{
  font-family: poppins, sans-serif;
}

.filter input{
  border: none;
}

.filter.active{
  display: flex;
}

.contact-modal{
  background-color: #fff;
  border-radius: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contact-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:#FFF;
  background-color: #1d1d1d;
  height: 10%;
  padding: 5vh;
  font-size: x-large;
}

.contact-header h4{
  margin: 0;
}

.contact-content{
  padding:2vh 2vw;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
    
}

.contact-content div{
  display: flex;
  justify-content: space-between;
}

.contact-content div input{
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
  background-color: #fff;
  border-color: #ececec;
}

.contact-content textarea{
  margin: 2vh 0px;
  height: 30vh;
  padding:10px;
  border-radius: 10px;
  font-size: larger;
  background-color: #fff;
  border-color: #ececec;
}

.contact-content .btn{
  width: 20%;
  transition: all ease 0.5s;
}

.contact-content .btn:hover{
  transform: scale(1.2);
  background-color: #ffffff;
  color: #101010;
  border-color:#b5b5b5 ;
  transition: all ease 0.5s;
}

.btn-container{
  display: flex;
  justify-content: center !important;
}

.contact-footer{
    bottom: 0;
    
}